<%-include("../partials/voterheader")%>

<div class="col-11 m-auto mt-5">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Cast Your Vote</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">TYPE</th>
                        <th scope="col">START</th>
                        <th scope="col">STOP</th>
                        <th scope="col">PARTY</th>
                        <th scope="col">CANDIDATE</th>
                        <th scope="col">Status</th>
                        <%if(check == "0"){%>
                        <th scope="col">action</th>
                        <%}%>
                    </tr>
                </thead>
                <tbody>
                    <% let sum = 0%>
                    <%elections.forEach((election)=>{%>
                        <%sum++%>
                        <tr>
                            <th scope="row"><%=sum%></th>
                            <td><%=election.election_type%></td>
                            <td><%=election.start%></td>
                            <td><%=election.stop%></td>
                            <td><%=election.party%></td>
                            <td><%=election.candidate%></td>
                            <td><%=election.status%></td>
                            <%if(check == "0"){%>
                            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-whatever="<%=election.candidate%>" data-whatever1="<%=election.party%>" data-whatever2="<%=election.election_type%>">vote</button></td>
                             <%}%>
                        </tr>
                       
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLabel">Are you Sure You Want to vote</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/voter/election" method="post">
            <div class="form-group">
             
              <input type="text" class="form-control input1" name="name" id="recipient-name" readonly hidden>
            </div>
            <div class="form-group">
               
                <input type="text" class="form-control input2" name="party" id="recipient-party" readonly hidden>
              </div>
              <div class="form-group">
               
                <input type="text" class="form-control input3" name="type" id="recipient-type" readonly hidden>
              </div>
              <div class="form-group">
               
                <select name="stations" id="">
                    <option value="null">Select a Station</option>
                    <%stations.forEach((station)=>{%>
<option value="<%=station.current_location%>"><%=station.current_location%></option>
                    <%})%>
                </select>
              </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Yes</button>
                <button type="button"data-bs-dismiss="modal" aria-label="Close" class="btn btn-danger">No</button>
              </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function(){
        $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  var party = button.data('whatever1')
  var type = button.data("whatever2")
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Are You Sure You Want To Vote ' + recipient)
  modal.find('.modal-body .input1').val(recipient)
  modal.find('.modal-body .input2').val(party)
  modal.find('.modal-body .input3').val(type)
})
    })
 
  </script>
<%-include("../partials/voterfooter")%>